/*=-----------------------=<{ A nice free font :^) }>=-----------------------=*/
/*=---------=<{ https://fontlibrary.org/en/font/typography-times }>=---------=*/
/*=------------------------=<{ "License Freeware" }>=------------------------=*/
@media print
{
    aside#debug
    {
	display: none;
    }
}


@font-face
{
    font-family: Typographytimes;
    src: local("Typographytimes"),
	 local("Typographytimes"),
	 url("TypographyTimes.ttf");	/* This must be changed but it won't
work from the media folder with the following directory path for some reason
"../media/TypographyTimes.ttf" */
    font-weight: bold;
}


/*=--=<{ SETTING UP THE OVERAL FORMAT AND PROPERTY'S OF THE LAYOUT START }>=-=*/
body
{
    margin: 0px;
    width: 100%;
    min-width: 800px;
    min-height: 100%;
}


#container
{
    display: flex;
}
/*=---=<{ SETTING UP THE OVERAL FORMAT AND PROPERTY'S OF THE LAYOUT END }>=--=*/


/*=--------------------=<{ BOARDER STUFF MOSTLY START }>=--------------------=*/
.column
{
    word-wrap: break-word;
    background: white;
}


.column.LR
{
    min-width: 220px;
    max-width: 220px;
    min-height: 124px;
    /* Theme 1.0 color */
    /* background-color: #FFD1E2; */
    /* Theme 1.1 color */
    background-color: #FFDBE8;
}


.column.LR.main_page
{
    /* Theme 1.0 color */
    /* background-color: #d3f6fd; */
    /* Theme 1.1 color */
    background-color: #FFDBE8;
}


.column.l
{
    order: 1;
}


.column.r
{
    order: 3;
}


.column.left_top
{
    background-image:
	url("media/border/page_border_top_left_top_y_reduced_and_x_1_shadow.png");
    max-height: 124px;
    min-height: 124px;
}


.column.left_middle
{
    min-height: calc(100% - 250px);
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: inherit;
    /* Theme 1.0 background */
    /* background-image: url("media/border/grid_2_left.png"); */
    /* Theme 1.1 background */
    background-image: url("media/border/grid_2_left_shadow.png"),
		      url("media/border/bg_gif_overlay.png"),
		      url("media/border/bg_l.gif");
}


.column.left_bottom
{
    background-image:
	url("media/border/page_border_bottom_left_top_y_reduced_and_x_1_shadow.png");
    max-height: 124px;
    min-height: 124px;
}


.column.right_top
{
    background-image:
	url("media/border/page_border_top_right_top_y_reduced_and_x_1_shadow.png");
    max-height: 124px;
    min-height: 124px;
}


.column.right_middle
{
    min-height: calc(100% - 250px);
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: inherit;
    /* Theme 1.0 background */
    background-image: url("media/border/grid_2_right.png");
    /* Theme 1.1 background */
    background-image: url("media/border/grid_2_right_shadow.png"),
		      url("media/border/bg_gif_overlay.png"),
		      url("media/border/bg_r.gif");
}


.column.right_bottom
{
    background-image:
	url("media/border/page_border_bottom_right_top_y_reduced_and_x_1_shadow.png");
    max-height: 124px;
    min-height: 124px;
}


.head_and_foot
{
    background-image: url("media/border/border_top_and_bottom.png");
    margin: 0px;    
    width: 100%;
    min-height: 40px;
}


footer
{/* Value must be vh and not %  !!! */
    min-height: calc(100vh - 110px);
}
/*=---------------------=<{ BOARDER STUFF MOSTLY END }>=---------------------=*/


/*=---------------------=<{ NICE SHADOW EFFECTS START }>=--------------------=*/
.inset_shadow
{
    /* Theme 1.0 color */
    /* box-shadow: inset 0 0 15px #c40e00; */
    /* Theme 1.1 color */
    box-shadow: inset 0 0 15px #bf19e3;
}
/*=----------------------=<{ NICE SHADOW EFFECTS END }>=---------------------=*/


/*=--------------------------=<{ NAV MENU START }>=--------------------------=*/
.menu_list
{
    list-style: none;
    list-style-type: none;    
}


.menu_list.l
{
    margin-left: 14px;
    padding-left: 0px;
}


.menu_list.r
{
    margin-right: 14px;
    padding-right: 0px;
    padding-left: 0px; / *I think a non-zero padding value is being inherited when this is used in tools.php */
}


.menu_element
{
    font-size: 1.15em;
    text-shadow: 2px 2px #ef1000;
    font-family: Typographytimes;
    background-image: url("media/menu_item/menu_item_not_highlited.png");
    margin-top: 12px;
    margin-bottom: 12px;
    /* Padding: 8px; *//* 8px is right on Firefox Quantum 61.0.1 on Ubuntu but
not on Firefox 64.0.1 on Android */
    padding: 7px; 		/* Right on Firefox 64.0.1 on Android */
    padding-left: 32px;
    padding-right: 32px;
}


.menu_element.l
{
    text-align: right;
    /* Theme 1.0 color */
    /* box-shadow:  -2px 0px 0px 0px #ce3c61, 0 3px 3px 0px #c40e00,
0 -3px 3px 0px #c40e00; */
    /* Theme 1.1 color */
    box-shadow: -2px 0px 0px 0px #ce3cb7, 0 3px 3px 0px #ce3cb7,
		 0 -3px 3px 0px #ce3cb7;
}


.menu_element.r
{
    text-align: left;
    /* Theme 1.0 color */
    /* box-shadow:  4px 0px 0px 0px #ce3c61, 1px 3px 3px 0px #c40e00,
1px -3px 3px 0px #c40e00; */
    /* Theme 1.1 color */
    box-shadow: 4px 0px 0px 0px #ce3cb7, 1px 3px 3px 0px #ce3cb7,
		1px -3px 3px 0px #ce3cb7;
}


.menu_element:hover
{
    background-image: url("media/menu_item/menu_item_highlited.png");
}


.current_page
{
    background-image:
	url("media/menu_item/menu_item_current_page_not_highlited.png");
}


.current_parent_page
{
    background-image:
	url("media/menu_item/menu_item_current_parent_page_not_highlited.png");
}


.current_page:hover
{
    background-image:
	url("media/menu_item/menu_item_current_page_highlited.png");
}
/*=---------------------------=<{ NAV MENU END }>=---------------------------=*/


/*=----------------------------=<{ LINKS START }>=---------------------------=*/
/* Used to have GUI element's (such as the menu buttons not change colour when
visited like other links.) */
.a_gui_element:visited
{
    color: #6bfdff;
}


a, span.link	/* Link color when not hovering, focus or active. */
{
    color: #6bfdff;
    text-decoration: underline;
}


a:visited
{
    color: #ff48ff;
}


a:hover, a:focus, a:active, a:visited:hover, a:visited:focus, a:visited:active
{
    color: #000084;
    font-style: italic;
    text-decoration: underline;
    text-shadow: 2px 2px #ff0000;
}


.articleLink
{
    text-shadow: 1px 1px purple;
}
/*=-----------------------------=<{ LINKS END }>=----------------------------=*/


/*=------------------=<{ PARAGRAPHS, TEXT, ETC... START }>=------------------=*/
p
{
    font-style: italic;
    font-family: serif;
    font-size: 0.92em;
    /* Theme 1.0 color */
    /* color: #03004D; */
    /* Theme 1.1 color */
    color: #0b0887;
    font-weight: normal;
    text-shadow: none;
    word-break: break-word;
}


article
{
    max-width: 1920px;
    /*    text-align: center;*/
    margin: 0 auto;
    /*    margin-bottom: 16px;*/
    padding: 20px;
    text-align: left;
    word-break: break-word;
}


strong, h2, h3, h4, h5, h6
{
    /* Theme 1.0 color */
    /* color: #ff0084; */
    /* Theme 1.1 color */
    color: #ff01fc;
    text-shadow: 1px 1px #03004D;
}


small
{
    color: #D4C895;
}


em
{
    /* color: #664413; */
    /* color: #ff438e; */
    /* color: #ff3389; */
    color: #2b0017;
}


.refernce
{
    color: #ff01fc;
}
/*=-------------------=<{ PARAGRAPHS, TEXT, ETC... END }>=-------------------=*/


/*=------------------=<{ MAIN CONTENT AREA OF PAGE START }>=-----------------=*/
main
{
    order: 2;
    width: 100%;
    border: 0px;
    /* There 1.0 color */
    /* border-top: 5px solid #ce3c61;
    border-bottom: 5px solid #ce3c61; */
    /* There 1.1 color */
    border-top: 5px solid #ce3cb7;
    border-bottom: 5px solid #ce3cb7;
    background-color: #FFFCE8;
    padding-bottom: -10px;
    /* the value here must be vh and not % otherwise this property will not work
for some reason :'(. */ 
}


#articleTopOfPageButtonSpacer
{
    height: 42px;
}


#position_main_part_of_main
{
    /*min-height: 422px;*/		/* Minimum height of the side bars (not
including top and bottom boarders. */
    min-height: 465px;
    height: calc(100vh - 90px);
    min-width: 360px;
    width: calc(100vw - 440px);
    padding: 0px;
    overflow: auto;
}


.heading_oval
{	/* note (very important!) the radius must be half of the length and
width, to which is added the padding value. S0 width: 350px; and padding: 0px;
would be (350/2) +0  = 175, and height: 60px; and padding 0px; would be (60/2)
+0 =30px! If you don't do this the corners will be cut off :'(	*/
    width: 320px;
    height: 60px;
    max-height: 60px;
    margin: 0 auto;
    border-radius: 160px / 30px;
    /* Theme 1.0 color */
    /* background: #000084;
    box-shadow: inset 0 0 25px #c40e00; */
    /* Theme 1.1 color */
    box-shadow: inset 0 0 25px #e90927;
    background: #050594;
}


#main_tag_in_main_min_height
{	/* the purpose of this is to make sure that the "To Top of Page" button
is always RIGHT at the bottom of the page when you make the window very
small. */
    min-height: 288px;
}


h1
{
    /* Theme 1.0 color */
    /* color: cyan;
    text-shadow: 2px 2px #ef1000; */
    /* Theme 1.1 color */
    color: #01fcff;
    text-shadow: 2px 2px #f01100;
    font-family: Typographytimes;
}


h1.oval
{
    text-align: center;
    padding-top: 16px;
    margin: 0px;
    font-size: 2.1739em;	/* Default size of h1 is 2em. Font is scailed
down by 0.92 by inheritance. 2 * (1 / 0.92) = ~2.1739 */
}


#to_top_of_page
{
    font-size: 1.15em;
    text-shadow: 2px 2px #ef1000;
    font-family: Typographytimes;
    text-align: center;
    width: 180px;
    height: 60px;
    max-height: 32px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    /* Theme 1.0 color */
    /* background: #ff7698;
    box-shadow:  0 0 15px #c40e00; */
    /* Theme 1.1 color */
    background: #fe78fa;
    box-shadow:  0 0 15px #dc6af4;
}


#to_top_of_page:hover
{
    background: #ffd9d9;
}


#text_align_to_top_of_page
{
    padding: 6px;
    text-align: center;
}


#position_to_top_of_page
{
    position: fixed;
    bottom: calc(35px);
    right: calc(50vw - 90px);
}
/*=-------------------=<{ MAIN CONTENT AREA OF PAGE END }>=------------------=*/


/*=----------------------------=<{ MISC START }>=----------------------------=*/
ul
{
    list-style: square inside url("media/bullet_point.png");
    margin-top: 0px;
    margin-bottom: 0px;
}


ol
{
    margin-left: 19px;
}


li
{
    text-align:left;
    font-style: italic;
    font-family: serif;
    font-size: 0.92em;
    font-weight: normal;
    text-shadow: none;
    word-break: break-word;
    /*    color: #03004D;*/
    color: #0b0887;
}


table
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #d3f6fd;
    border-collapse: collapse;
    font-style: italic;
    font-family: serif;
    font-size: 0.92em;
    color: #03004D;
    box-shadow: 0 0 15px #c40e00;    
}


.no_display
{
    display: none;
    height: 0px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}


input.no_display
{
    display: none;
}


th
{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    height: 36px;
    background-color: #FFDBE8;
    border: 1px solid;
    border-color: #ce3c61;
    color: #ff0084;
    text-shadow: 1px 1px #03004D;
}


td
{
    padding-left: 6px;
    padding-right: 6px;
    height: 36px;
    background-color: #d3f6fd;
    border: 1px solid;
    border-color: #ce3c61;
    vertical-align: bottom;
}


td.v_align_top
{
    vertical-align: top
}


td.no_display
{
    display: none;
}


th.no_display
{
    display: none;
}


th.some_pad
{
    padding: 8px;
}


td.inner
{
    padding-top: 6px;
    padding-bottom: 6px;
    width: calc(100vh);  
}


.table_image
{
    height: 114px;
    width: 114px;
    float:left;
    padding: 0px;
    margin: 6px;   
}


td.enclose_inner
{
    padding: 0px;
}


td.no_top_border
{
    border-top-width: 0px;
}


td.no_bottom_border
{
    border-bottom-width: 0px;
}


td.no_left_border
{
    border-left-width: 0px;
}


td.no_right_border
{
    border-right-width: 0px;
}


select
{
    float: right;
}


input
{
    float: right;
    min-width: 218px;
    max-width: 218px;
    min-height: 52px;
    max-height: 52px;
}


.accommodation_input
{
    min-width: 134px;
    max-width: 134px;
    min-height: 32px;
    max-height: 32px;    
}


button
{
    width: 100%;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    color: #ff0084;
    text-shadow: 1px 1px #03004D;
    background: radial-gradient(#FFB8D2, #FFDBE8, #d3f6fd);
    border-radius: 6px;
    padding: 6px;
    border-color: #ce3c61;
    margin-top: 0px;
}


button.fifty_percent
{
    width: 50%;
}


.font_normal_p
{
    font-weight: normal;
    text-shadow: none;
    
}


.text_align_center
{
    min-width: 1px;
    margin-left: auto;
    margin-right: auto;
}


.form_field
{
    min-height: 66px;
    border: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 6px;
    border-color: #ce3c61;
    vertical-align: bottom;
}


.float_right
{
    float: right;
}


.float_left
{
    float: left;
}


textarea
{    
    min-width: 222px;
    max-width: 222px;
    width: auto;
    min-height: 60px;
    max-height: 60px;
    border-color: #ce3c61;
    float: right;
}


label
{
    width: 100%;
}


img
{
    float: none;
    max-width: 39vw;
    margin: 0px;
    margin-bottom: 10px;
    /* border: 13px solid #FFDBE8; */
    /* Theme 1.0 color */
    box-shadow: 0 0 15px #c40e00;
    /* Theme 1.1 color */
    box-shadow: 0 0 15px #bf19e3;
}


img.margin-top
{
    margin-top: 10px;
}


img.margin-right
{
    margin-right: 15px;
}


img.margin-left
{
    margin-left: 15px;
}


pre
{

    /* min-width: 320px;*/
    /*    max-width: 39vw;*/
    /*      min-height: calc(100% - 250px);*/
    min-width: calc(100%);
    max-width: 37vw;
}


code
{
    overflow: auto;
    font-family: monospace;
    float: none;
    margin: 0px;
    /* margin-bottom: 12px; */
    /* border: 13px solid #FFDBE8; */
    /* Theme 1.0 color */
    /* box-shadow: 0 0 15px #c40e00; */
    /* Theme 1.1 color */
    box-shadow: 0 0 15px #bf19e3;
    text-align: left;
}


::selection	/* Change colour of selected text. */
{
    /* Theme 1.0 color */
    /*  background: #fdd4dc; *//* WebKit/Blink Browsers */
    /* Theme 1.1 color */
    background: #ff4a0a;
}


::-moz-selection
{
    /* Theme 1.0 color */
    /* background: #fdd4dc; */ /* Gecko Browsers */
    /* Theme 1.1 color */
    background: #ff4a0a;
}


.scroll_style
{	/*#000084, #66FF99 #0021A7 #FFDBE8  #fe78fa;*/
    /* scrollbar-color: #fe78fa  #FFFCE8; */
    scrollbar-color: #66FF99  #FFFCE8;
}
/*=-----------------------------=<{ MISC END }>=-----------------------------=*/
